@model CreateCategoryResponse

<form action="/Category/Create" method="post">
    @Html.DisplayErrors((List<string>)ViewBag.Errors)

    <div class="form-group">
        <label for="name">Name:</label>
        <input id="name" type="text" name="Name" value="@Model?.Name" />
    </div>
    <input type="submit" value="Create" />
</form>