@model Haidelberg.Vehicles.DataAccess.EF.Category

<form action="/category/edit/@Model.Id" method="post">
    @if (ViewBag.Errors != null)
    {
        <div class="form-group">
            @foreach (var error in ViewBag.Errors)
            {
                <span class="text-danger">@error</span>
                <br />
            }
        </div>
    }

    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="form-group">
        <label>Category Name: </label>
        <input type="text" name="Name" value="@Model.Name" />
    </div>
    <input class="btn btn-success" type="submit" value="Save Changes" />
</form>