@model RegisterUserRequest

@Html.DisplayErrors((List<string>)ViewBag.Errors)
<form action="/identity/register" method="post" autocomplete="off">
    <div class="form-group">
        <label for="login">Login:</label>
        <input id="login" type="text" name="Login" value="@Model.Login" />
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input id="password" type="password" name="Password" value="@Model.Password" />
    </div>
    <input type="submit" value="Register" class="btn btn-success" />
</form>